/*   #id   .class */

/* --- 
#EDC7B7 - beige
#AC3B61 - cheery
#123C69 - navy
--- */



/*  --------------------------------------------- core ---------------------------------------------  */

@font-face 
{
    font-family: Lato Light;
    src: url(../assets/fonts/LatoWeb-Light.ttf);
}
@font-face 
{
    font-family: Lemon Light;
    src: url(../assets/fonts/LEMONMILK-Light.otf);
}
h1
{
font-size:4em;
font-family:Lemon Light;
}
h2
{
	font-size:1em;
	font-family:Lemon Light;
	color:white;
	float:left;
	margin-left:0.3%;
}
body
{
	width:100%;
	height:100%;
	padding: 0;
    margin: 0;
    overflow: auto;
    background-color:white;
}











/*---------------------------------------------------------------- Title card ------------------------------------------------*/
img.logotype
{	
	overflow: auto;
	margin: 0 auto;
	width: 100%;
	margin-bottom: -0.5%;
}








/* ----------------------------------------------------------------- Project Selection ----------------------------------------------------------------------- */
img.preview
{
	margin:0 auto;
	background-color:white;
	height:100%;
	opacity:0.5;
	width:100%;
	transition: all .5s ease;
}
img.preview:hover
{
	opacity:1;
	transition: all .5s ease;
	margin:0 auto;
	
}
.menu
{
	background-color:#123C69;
	overflow: auto;
	padding-left:10%;
	padding-right:10%;
	padding-top: 3%;
	padding-bottom:3%;
}
.imageview
{
	width:49%;
	float:left;
	margin:0.5%;
	
}







/* ----------------------------------------------------------------- Navigation ----------------------------------------------------------------------------- */

nav
{
	position:sticky;
	top: 0;
	z-index: 100;
	overflow:auto;
	background-color:Black;
	margin: 0 auto;
}
ul
{
	list-style:none;
	margin-right:7%;
}
.navlogo
{
	margin-left:4%;
	margin-top:0.4%;
	color:white;
	float:left;
	width:15%
}
li.navbar
{	
	font-family:Lato Light;
	font-size:1.5em;
	text-align: center;	
	text-decoration:none;
	color:white;

	float:right;
	overflow:auto;  
	transition: all .5s ease;

	margin:0 auto;
	padding: 0.6%;
	margin-top: -0.95%;
	width:10%;
	height:100%;
}
a:link, a:visited
{
	color:white;
	text-decoration:none;
}
li.navbar:hover
{
	background-color:#123C69;
	transition: all .5s ease;
	overflow:auto;
}











/* ------------------------------------------------------------------- Projects ---------------------------------------------------------------------------*/
.item
{
	background-color:#123C69;
	padding-left:10%;
	overflow: auto;
	padding-right:10%;
	padding-top: 3%;
	padding-bottom:3%;
}

img.collage
{
	width:41%;
	float:left;
	margin-right:4%;
}
.text
{
	font-family:Lato Light;
	color:white;
	font-size:1.1em;
	float:left;
	width:55%;
}










/*---------------------------------------------------------------- About Me ------------------------------------------------
<a class="opa" href="https://twitter.com/yamiboshi6"><div class="imgcon"><img class='Twit' src="assets/Links/Twitter_Logo.svg" title="Twitter" alt="Twitter"></div></a> -- to add later*/
.Twit
{
    margin: 5%;
    width: 80%;
    height: 50px;
    background-color: white;
    padding: 2%;
}
.Link
{
    margin: 5%;
    width: 80%;
    height: 50px;
    background-color: white;
    padding: 2%;
}
a.opa
{
    opacity: 0.5;
    transition: .3s ease;
}
.opa:hover
{
    opacity: 1;
    transition: .3s ease;
}
.imgcon
{
    height: 100%;
    width: auto;
    object-fit: contain;
	}







/* ----------------------------------------------------------------------Scroling background ------------------------------------------------------------------ */
.break
{
	
	background-color: #EDC7B7;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: ;
    background-position-x: ;
    padding: 0px;
    margin:0px;
	width:100%;
	height:800px;
}
#break1
{
	background-image:url("../assets/Break/break1.svg");
}
#break2
{
	background-image:url("../assets/Break/break2.svg");
}
#break3
{
	background-image:url("../assets/Break/break3.svg");
}